{% extends 'tsheetapp/base.html' %}

{% block title %}
    Display T-Sheets
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% for tsheet in tsheets %}
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">{{ tsheet.headline }}</h2>
                <p class="card-text">{{ tsheet.description }}</p>
                <img src="{{ tsheet.image.url }}" alt="Image for {{ tsheet.headline }}" style="width: 100%; max-width: 300px;">
                        <!-- Delete form -->
                <form action="{% url 'delete_tsheet' tsheet.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    {% empty %}
        <p>No T-Sheets available.</p>
    {% endfor %}
</div>
{% endblock %}
